/Blockly.Api/bin/Debug/netcoreapp2.0/Blockly.Api.deps.json
/Blockly.Api/bin/Debug/netcoreapp2.0/Blockly.Api.dll
/Blockly.Api/bin/Debug/netcoreapp2.0/Blockly.Api.pdb
/Blockly.Api/bin/Debug/netcoreapp2.0/Blockly.Api.runtimeconfig.dev.json
/Blockly.Api/bin/Debug/netcoreapp2.0/Blockly.Api.runtimeconfig.json
/Blockly.Api/bin/Debug/netcoreapp2.0/Blockly.Core.dll
/Blockly.Api/bin/Debug/netcoreapp2.0/Blockly.Core.pdb
/Blockly.Api/obj/Blockly.Api.csproj.nuget.cache
/Blockly.Api/obj/Blockly.Api.csproj.nuget.g.props
/Blockly.Api/obj/Blockly.Api.csproj.nuget.g.targets
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.AssemblyInfo.cs
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.AssemblyInfoInputs.cache
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.csproj.CopyComplete
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.csproj.CoreCompileInputs.cache
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.csproj.FileListAbsolute.txt
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.csprojResolveAssemblyReference.cache
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.dll
/Blockly.Api/obj/Debug/netcoreapp2.0/Blockly.Api.pdb
/Blockly.Api/obj/project.assets.json
/Blockly.Core/bin/Debug/netcoreapp2.0/Blockly.Core.deps.json
/Blockly.Core/bin/Debug/netcoreapp2.0/Blockly.Core.dll
/Blockly.Core/bin/Debug/netcoreapp2.0/Blockly.Core.pdb
/Blockly.Core/bin/Debug/netcoreapp2.0/Blockly.Core.runtimeconfig.dev.json
/Blockly.Core/bin/Debug/netcoreapp2.0/Blockly.Core.runtimeconfig.json
/Blockly.Core/obj/Blockly.Core.csproj.nuget.cache
/Blockly.Core/obj/Blockly.Core.csproj.nuget.g.props
/Blockly.Core/obj/Blockly.Core.csproj.nuget.g.targets
/Blockly.Core/obj/Debug/netcoreapp2.0/Blockly.Core.AssemblyInfo.cs
/Blockly.Core/obj/Debug/netcoreapp2.0/Blockly.Core.AssemblyInfoInputs.cache
/Blockly.Core/obj/Debug/netcoreapp2.0/Blockly.Core.csproj.CoreCompileInputs.cache
/Blockly.Core/obj/Debug/netcoreapp2.0/Blockly.Core.csproj.FileListAbsolute.txt
/Blockly.Core/obj/Debug/netcoreapp2.0/Blockly.Core.csprojResolveAssemblyReference.cache
/Blockly.Core/obj/Debug/netcoreapp2.0/Blockly.Core.dll
/Blockly.Core/obj/Debug/netcoreapp2.0/Blockly.Core.pdb
/Blockly.Core/obj/project.assets.json
/BlocklyPro/bin/Debug/BlocklyPro.exe
/BlocklyPro/bin/Debug/BlocklyPro.exe.config
/BlocklyPro/bin/Debug/BlocklyPro.pdb
/BlocklyPro/bin/Debug/Newtonsoft.Json.dll
/BlocklyPro/bin/Debug/Newtonsoft.Json.xml
/BlocklyPro/obj/Debug/883e2086-1491-463a-81a1-b511771904e4_BlocklyPro.exe
/BlocklyPro/obj/Debug/9a15de76-793c-497e-a3e7-ef3b12d8e755_BlocklyPro.exe
/BlocklyPro/obj/Debug/9c44ab38-d37b-4b09-93ed-6c6f8a9ac81e_BlocklyPro.exe
/BlocklyPro/obj/Debug/BlocklyPro.Code.UcFunction.resources
/BlocklyPro/obj/Debug/BlocklyPro.Code.UcLoop.resources
/BlocklyPro/obj/Debug/BlocklyPro.Code.UcMoveForward.resources
/BlocklyPro/obj/Debug/BlocklyPro.Code.UcTurn.resources
/BlocklyPro/obj/Debug/BlocklyPro.FrmParent.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameCreator.FrmNewGame.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameCreator.Workbench.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameRunner.CodeCore.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameRunner.GameRunner.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameTools.UCCharactor.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameTools.UCHorizontalLine.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameTools.UCTarget.resources
/BlocklyPro/obj/Debug/BlocklyPro.GameTools.UCVerticalLine.resources
/BlocklyPro/obj/Debug/BlocklyPro.Object.ItemObject.resources
/BlocklyPro/obj/Debug/BlocklyPro.Properties.Resources.resources
/BlocklyPro/obj/Debug/BlocklyPro.csproj.CopyComplete
/BlocklyPro/obj/Debug/BlocklyPro.csproj.CoreCompileInputs.cache
/BlocklyPro/obj/Debug/BlocklyPro.csproj.FileListAbsolute.txt
/BlocklyPro/obj/Debug/BlocklyPro.csproj.GenerateResource.Cache
/BlocklyPro/obj/Debug/BlocklyPro.csprojResolveAssemblyReference.cache
/BlocklyPro/obj/Debug/BlocklyPro.exe
/BlocklyPro/obj/Debug/BlocklyPro.pdb
/BlocklyPro/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BlocklyPro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BlocklyPro/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/BlocklyPro/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BlocklyPro/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BlocklyPro/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BlocklyPro/obj/Debug/af81d82e-5b93-49db-8d10-b7077e52a915_BlocklyPro.exe
/BlocklyPro/obj/Debug/b436d274-d081-4011-89f5-facb88b44b1f_BlocklyPro.exe
